.App {
  height: 100vh;
  background-color: #282c34;
}

.base {
  width: 400px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: #282c34;
  background-image: url(./images/base.png);
  background-repeat: no-repeat;
  background-position: center;
}

.inventory_item{
  width: 95%;
  margin: 1px;
}
.product-image{
  height: 50px !important;
  width: 50px !important;
}

/* .fab-add{
  display: block;
} */

.MuiFab-secondary{
  background-color: #ea7844 !important;
}

.inventory_grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 170px;
  width: 100%;
  height: 500px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-button-B .MuiPaper-root
{
  border-radius: 50%;
  background-image: url(./images/selector.png); 
  overflow: hidden;
  height: 360px;
  width: 360px;
}
/* 
.add-button-A .MuiPaper-root
{
  
} */

.selector-image{
  margin-top: -06px;
}

#clear-icon {
  display: block;
  left: 150px;
  top: -208px;
  min-height: 65px;
  width: 65px;
  padding-top: 5px;
}

#clear-icon .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
}

.AppBar {
  margin-left: 18px;
  max-width: 89.5%;
}

.MuiAppBar-colorPrimary {
  background-color: #ea7844 !important;
}

.MuiTab-root{
  min-width: 90px !important;
}

#add-shopping{
  left: 90px;
  top: -400px;
  min-height: 85px !important;
  min-width: 180px !important;
  background-color: transparent;
  box-shadow: none;
}

#add-inventory{
  left: 90px;
  top: -250px;
  min-height: 85px !important;
  min-width: 180px !important;
  background-color: transparent;
  box-shadow: none;
}

#add-planner{
  left: 20px;
  top: -500px;
  min-height: 180px !important;
  min-width: 85px !important;
  background-color: transparent;
  box-shadow: none;
}

#add-scanner{
  left: 260px;
  top: -680px;
  min-height: 180px !important;
  min-width: 85px !important;
  background-color: transparent;
  box-shadow: none;
}

.MuiDialog-paperWidthSm{
  width: 300px;
  overflow: hidden;
}
.inventory-item-add-A {
  display: flex;
  justify-content: center;
  height: 125px;
  width: 125px;
  background-color:#ea7844 !important;
  
}
.inventory-item-add-A :hover{
  background-color: #f2ae90 !important;
}


.inventory-item-add-A .MuiTypography-root{
  text-align: center;
  color: white;
  font-weight: bold;
}

.MuiBox-root {
  height: 500px
}